.env
__pycache__/
*.pyc
node_modules/
dist/
build/

*.wav
*.webm
*.mp3
*.mp4
*.db
*.sqlite
*.sqlite3
*.pt
*.pth
*.bin
*.safetensors

stt_service/data/
orchestrator/stt_service/data/
nlp_service/ml_models/saved_models/category_classifier/checkpoint-*/