fastapi==0.121.1
uvicorn[standard]==0.38.0
sqlalchemy==2.0.44
psycopg2-binary==2.9.11
pydantic==2.12.5
python-dotenv==1.2.1
httpx==0.28.1
requests==2.32.5
python-multipart==0.0.20
rapidfuzz==3.14.3
thefuzz==0.22.1
vaderSentiment==3.3.2
PyYAML==6.0.3
numpy==2.4.2
soundfile==0.13.1
openai-whisper==20250625
transformers==4.46.3
huggingface-hub==0.36.2
spacy==3.8.2
pydub==0.25.1
sounddevice==0.5.1
edge-tts